ul.menu ul.segundo{position:absolute;background:#fff;margin-left:-100px; margin-top:30px; width:180px;display:none;box-shadow:0px 1px 3px rgba(0,0,0,.2);border-radius:3px;-moz-border-radius:3px;}
#top{margin-top:0px; padding-top:20px}
#all_pagina{ margin-top:85px;}